<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hello, World</title>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%
        }
    </style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&amp;ak=sehiF02wpP7HEImrFVE08gP3cHsYnkHC"></script>
    <script type="text/javascript" src="../static/js/Map.js"></script>
    <script type="text/javascript" src="../static/js/LuShu.js"></script>
    <script type="text/javascript" src="../static/js/MarkerClusterer.js"></script>
    <script type="text/javascript" src="../static/js/RichMarker.js"></script>
    <script type="text/javascript" src="../static/js/TextIconOverlay.js"></script>
    <script type="text/javascript" src="../static/js/Route.js"></script>
    <script type="text/javascript" src="../static/js/lib/util.js"></script>
    <script type="text/javascript" src="../static/js/event.js"></script>
</head>

<body>
<div id="container"></div>
<div id="results"></div>
<button id="run">run</button>
<!--<button id="run1" >run1</button>-->

<script type="text/javascript">

    var map = new Map("container");

    var shockPoint = new BMap.Point(116.404, 39.915);

    var point1 = new BMap.Point(116.412624, 39.890646);
    var point2 = new BMap.Point(116.443094, 39.935362);
    var point3 = new BMap.Point(116.419931, 39.934604);
    var marker1 = new BMap.Marker(point1);
    var marker2 = new BMap.Marker(point2);

    map.centerAndZoom(shockPoint, 12);
    map.enableScrollWheelZoom();

    keydownEvent(map);

    //    var max = 5;
    //    let markers = getNewMarkers(max, shockPoint);


    //    var markerClusterer = new BMapLib.MarkerClusterer(map, {markers: markers});

    map.addOverlay(marker1);
    map.addOverlay(marker2);
    //
    window.lushus = [];
    ////
    //    var route = new Route(map, shockPoint)
    //
    //    route.addLandPois(point1);
    ////    route.setStarts(markers);
    //    route.setStart(point2);
    //
    //    //    new Route(map,point3).setStarts(["王府井","百度大厦"]);
    //
    //    //绑定事件

    var lushuOpts = {
        defaultContent: "一方有难，八方支援",
        // autoView: false,//是否开启自动视野调整，如果开启那么路书在运动过程中会根据视野自动调整,会出现抖动
        icon: new BMap.Icon('../static/img/car.png', new BMap.Size(52, 26), {anchor: new BMap.Size(27, 13)}),
        speed: 1000,
        enableRotation: true,//是否设置marker随着道路的走向进行旋转
        landmarkPois: [
            {lng: 116.419931, lat: 39.934604, html: '加油中...<div></div>', pauseTime: 2}
        ],
        totalDuration: 2000,
        totalDistance: 10000,
        endContent: "到达灾区"
    };

    var duration, distance;

    var driving = new BMap.DrivingRoute(map, {
        onSearchComplete: function (res) {
            if (driving.getStatus() == BMAP_STATUS_SUCCESS) {
                //途径一个点的话，有两个route
                var plan = res.getPlan(0);
                duration = plan.getDuration(false);
                distance = plan.getDistance(false);
                var arrPois0 = res.getPlan(0).getRoute(0).getPath();
//                arrPois0.pop();
                arrPois0[arrPois0.length - 1].lng = 116.419931;
                arrPois0[arrPois0.length - 1].lat = 39.934604;
                var arrPois1 = res.getPlan(0).getRoute(1).getPath();

                var plans = res.getPlan(0).getRoute(0).getPath;

//                console.info('arrPois0 ',arrPois0)
//                console.info('arrPois1 ',arrPois1)

                //结合两个数组一起显示
                var arrPois = arrPois0.concat(arrPois1);
                console.info('arrPois ', arrPois);

//                console.info(arrPois);
                map.addOverlay(new BMap.Polyline(arrPois, {strokeColor: '#111'}));
//                map.addOverlay(new BMap.Polyline(arrPois1, {strokeColor: '#111'}));
                // map.setViewport(arrPois);

                var lushu1 = new BMapLib.LuShu(map, arrPois, lushuOpts);
//                var lushu2 = new BMapLib.LuShu(map, arrPois1, lushuOpts);
                window.lushus.push(lushu1);
//                window.lushus.push(lushu2);
            }

        },
        renderOptions: {
            map: map,
            autoViewport: true
        }
    });
    //    driving.search(point1, point2);//waypoints表示途经点
    driving.search(point1, point2, {waypoints: [point3]});//waypoints表示途经点

    var start;

    //    setInterval(function () {
    //
    ////        alert(1);
    //        if(start){
    //            //行走相对下标
    //            var p = lushus[0].getIndexProportion();
    //
    //
    //
    //            var currentDuration = ((duration*(1-p))/60).toFixed(2);
    //            var currentDistance = ((distance*(1-p))/1000).toFixed(0);
    //
    //            console.log("剩余"+currentDistance+"分钟")
    //            console.log("剩余"+currentDuration+"公里")
    //
    ////            lushus[0]._overlay.setHtml(currentDistance);
    //
    //        }
    //    },500);


    //


    $("run").onclick = function () {
        start = true;

        for (var i = 0; i < lushus.length; i++) {
            var ls = lushus[i];
            ls.start();
        }
    };
    //
    //标注移动
    map.addRichMark(shockPoint);

    function showInfo(e) {
     alert(e.point.lng + ", " + e.point.lat);
     }
    map.addEventListener("click", showInfo);

    map.addEventListener("zoomend", function () {
        console.log("地图缩放至：" + this.getZoom() + "级");
    });


    //test 途径地点
    /*var map = new BMap.Map("container");
     map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
     map.enableScrollWheelZoom(true);

     var p1 = new BMap.Point(116.301934,39.977552);
     var p2 = new BMap.Point(116.508328,39.919141);

     var shockPoint = new BMap.Point(116.404, 39.915);

     var lushuOpts = {
     defaultContent: "一方有难，八方支援",
     // autoView: false,//是否开启自动视野调整，如果开启那么路书在运动过程中会根据视野自动调整,会出现抖动
     icon: new BMap.Icon('../static/img/car.png', new BMap.Size(52, 26), {anchor: new BMap.Size(27, 13)}),
     speed: 5500,
     enableRotation: true,//是否设置marker随着道路的走向进行旋转
     landmarkPois: [
     // {lng:116.3814,lat:39.9740,html:'肯德基早餐<div></div>',pauseTime:2}
     ]
     };
     lushuOpts.landmarkPois.push(shockPoint);


     var driving = new BMap.DrivingRoute(map, {            onSearchComplete: function (res) {
     if (driving.getStatus() == BMAP_STATUS_SUCCESS) {
     var plans = res.getPlan(0);

     var arrPois = plans.getRoute(0).getPath();
     console.log(plans);
     map.addOverlay(new BMap.Polyline(arrPois, {strokeColor: '#111'}));
     map.setViewport(arrPois);

     var lushu = new BMapLib.LuShu(map, arrPois, lushuOpts);
     window.lushus.push(lushu);
     }

     },
     renderOptions:{map: map, autoViewport: true}});
     driving.search(p1, p2);//waypoints表示途经点*/



</script>
</body>
</html>