<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hello, World</title>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%
        }
    </style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&amp;ak=sehiF02wpP7HEImrFVE08gP3cHsYnkHC"></script>
    <script type="text/javascript" src="../static/js/Map.js"></script>
    <script type="text/javascript" src="../static/js/LuShu.js"></script>
    <script type="text/javascript" src="../static/js/MarkerClusterer.js"></script>
    <script type="text/javascript" src="../static/js/RichMarker.js"></script>
    <script type="text/javascript" src="../static/js/TextIconOverlay.js"></script>
    <script type="text/javascript" src="../static/js/Route.js"></script>
    <script type="text/javascript" src="../static/js/lib/util.js"></script>
    <script type="text/javascript" src="../static/js/event.js"></script>
</head>

<body>
<div id="container"></div>
<div id="results"></div>
<button id="run">run</button>
<!--<button id="run1" >run1</button>-->

<script type="text/javascript">

    var map = new Map("container");

    var shockPoint = new BMap.Point(116.404, 39.915);

    //测试
    //    var point1 = new BMap.Point(116.412624, 39.890646);
    //    var point2 = new BMap.Point(116.443094, 39.935362);
    //    var point3 = new BMap.Point(116.419931, 39.934604);
    //    var point4 = new BMap.Point(116.419433, 39.91715);
    //    var point5 = new BMap.Point(116.411433, 39.95715);
    //    var marker1 = new BMap.Marker(point1);
    //    var marker2 = new BMap.Marker(point2);

    map.centerAndZoom(shockPoint, 13);
    map.enableScrollWheelZoom();

    keydownEvent(map);

    var max = 8;
    var points = getNewPoints(max, shockPoint);
    var makers = getNewMarkers(points);
    for (var m of makers) {
        showInfoWindow(m);
    }
    map.addOverlays(makers);

    for (var p of points) {
        var r = new Route(map, shockPoint);
        r.setStart(p);
    }

    //    var route = new Route(map, shockPoint);
    ////    route.addLandPoi(point2).addLandPoi(point3).addLandPoi(point4);
    //    route.setStart(point1);
    //
    //    var route1 = new Route(map, shockPoint);
    ////    route1.addLandPoi(point5);
    //    route1.setStart(point4);

    /*
     //自动增加poi点
     var max = 5;
     let points = getNewPoints(max, shockPoint);
     let markers = getNewMarkers(points);
     map.addOverlays(markers);*/



    window.lushus = [];

    var start;


    $("#run").onclick = function () {
        start = true;

        for (var i = 0; i < lushus.length; i++) {
            var ls = lushus[i];
            ls.start();
        }
    };
    //
    //标注移动
    map.addRichMark(shockPoint, "../static/img/markBg.png");

    /*function showInfo(e) {
     alert(e.point.lng + ", " + e.point.lat);
     }
    map.addEventListener("click", showInfo);

    map.addEventListener("zoomend", function () {
        console.log("地图缩放至：" + this.getZoom() + "级");
     });*/


</script>
</body>
</html>